.skill{
    &__container{
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FF7426;
        
        &--size{
            min-height: 50vh;
        }

        &--theme{
            background-color: #F3F3F3;
        }
    }

    &__list{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin: 120px 0;
        flex-wrap: wrap;

        &--size{
            width: 100%;

        }
        // flex-direction: c;
    }

    &__item{

        &--size{
            min-width: 200px;
            min-height: 200px;
        }
    }

    &__image{

        &--size{
            height: 150px;
            width: 150px;
        }
    }
}