.contact{

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;

        &--size{
            min-height: 100vh;
        }

        &--theme{
            background-color: white;
        }

    }
}