.contact{

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;

        &--size{
            min-height: 100vh;
        }

        &--theme{
            background-color: white;
        }

    }

    &__fields{
        width: 100vh;
        margin: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__name{
        // width: 400px;
        // height: 50px;
    }

    &__email{
        // width: 400px;
        // height: 50px;
    }

    &__number{
        // width: 400px;
        // height: 50px;
    }

    &__message{
        width: 100%;
        min-height: 200px;
        height: 50px;
        padding: 10px;
    }

    &__button-submit{
        padding: 10px 30px;
        background-color: #FF7426;
        border: none;
        color: white;
        font-weight: 500;
        cursor: pointer;
    }

    &__center{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.input-size{
    width: 400px;
    height: 50px;
}

.mt4{
    margin-top: 4rem;
}

@media only screen and (max-width: 900px){
    
    .contact{

        &__fields{
            
            width: 90vw;
        }
    }

    .input-size{
        width: 350px;
    }
}

@media only screen and (max-width: 800px){
    
    .contact{

        &__fields{
            
            width: 90vw;
        }
    }

    .input-size{
        width: 300px;
    }
}

@media only screen and (max-width: 700px){
    
    .contact{

        &__fields{
            flex-direction: column;
            align-items: center; 
            width: 90vw;
        }
    }

    .input-size{
        width: 350px;
    }
}