.landing-container{
    height: 100vh;
    display: flex;

    &__left{
        
        &--theme{
            background-color: #FF7426;
        }

        &--size{
            // min-width: 450px;
            width: 50%;
            height: 100vh;
        }
    }

    &__right{
        padding: 30px;

        &--theme{
            background-color: white;
        }

        &--size{
            min-width: 450px;
            width: auto;
            height: 100vh;
        }
    }
}

.menus{
    display: flex;
    justify-content: space-around;
    list-style: none;
    overflow-x: scroll;

    &--size{
        width: 100%;
    }
}

.menu{
    color: #FF7426;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none;
    cursor: pointer;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--size{
        width: 100%;
    }

    h1{
        color: #FF7426;
        margin-top: 20px;
    }
}

.navbar{
    display: none;
    justify-content: end;
    align-items: center;

    &--size{
        width: 100%;
        height: 60px;
    }

    &--theme{
        background-color: #FF7426;
    }

    &__icon{
        cursor: pointer;

        &--size{
            width: 40px;
            height: 40px;
        }
    }
}

@media only screen and (max-width: 900px){
    .landing-container{
        flex-direction: column;

        &__right{
            display: flex;
            flex-direction: column;
            // background-color: #FF7426;

        }

        &__left{
            display: none;
             background-color: red;
        }
    }

    .menu{
        margin-left: 0;
    }
}

@media only screen and (max-width: 450px){
    .landing-container{
        &__right{
            padding: 0px;
        }
    }
    
    .menus{
        margin: 10px;
    }

    .menu-item{
        padding: 10px;
        border-radius: 20px;
        display: flex;
        align-items: center;


        &--theme{
            background-color: #FF7426;
        }
    }

    .menus{
        overflow-x: scroll;
    }

    .menu{
        color: white;
        font-weight: 500;
        font-size: 12px;
    }

    .navbar{
        display: flex;
    }
}